/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 gru 2020, 17:19:24
    Author     : emjan
*/

/*xs, sm, md*/
@media (max-width: 991px) {
  .btn-sm {
    font-size: 150%;
  }
}

.logo {
    font-family: 'Hammersmith One', sans-serif;
}